html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw; /* vw is relative measurement where 1vw is equal to 1% of the viewport width */
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden; /* This prevents the horizontal scroll bar from appearing when the quote bar is hovered over */
    user-select: none; /* This prevents the text on the webpage from being highlighted by the user */
}

/* This section contributes to the fade effect for the page that occurs when the page is loaded */
body.fade-out {
    opacity: .1; /* This sets the level of opacity at the start of the page load */
}

h1 {
    text-transform: uppercase;
    font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #000;
}

h1:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.white-text {
    color: #FFF;
}

p {
    font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01)
}

.center{
    text-align: center;
}

.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

a { /* Anchor element */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

q { /* Quotation element */
    font-style: italic;
}

img {
    border-radius: 2px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
    background-color: rgb(0, 60, 20);
}

/* NAVBAR STYLING */

.Navbar {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.Navbar a {
    float: left;
    display: block;
    color: #FFF;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.Navbar a.active {
    background-color: rgb(0, 60, 20);
}

#Green_lights {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    #Green_lights {
        display: none;
    }
}

.Video_Text {
    background: rgba(35, 71, 41, 0.2);
    color: #000;
    width: 100%;
    height: 100vh;
    padding-top: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/* SLIDESHOW */
#slideshow_background {
    background: rgba(255, 255, 255, 0.35);
}

.mySlides {
    display: none; /* This prevents the images from being displayed.  We will use JS to display them. */
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
    background-color: rgba(0 , 0, 0, 0.8);
    color: white;
}

.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, .75);
    font-weight: bold;
    border-radius: 0 0 7px 7px;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block; /* Allows the dots to sit next to eachother rather than on a new line */
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    padding-top: 3%;
    height: 400px;
    background-color: #FFF;
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 400px;
    background-color: rgb(0, 60, 20);
}

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row:after {
    content: ""; /* By leaving this blank, we are allowing the footer to be displayed - removing it makes the footer overwrite a column */
    display: table;
    clear: both; /* This clears any other element from floating to the left or right of an element */
}

/* POPUP CONTAINER */
.form-popup {
    border: 3px solid #F0F1F0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

button {
    font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}